<header class="header">
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="./page-2.html" class="nav-link">Page 2</a>
      </li>

      <li class="nav-item">
        <a href="./page-3.html" class="nav-link">Page 3</a>
      </li>
    </ul>
  </nav>

  <address>
    <ul>
      <li>
        <a href="#"
          >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos
          voluptate eius est doloremque, nihil delectus blanditiis id rem
          architecto perspiciatis esse dolorem ad! Odio modi deserunt rerum
          suscipit natus quibusdam.</a
        >
      </li>
      <li>
        <a href="#"
          >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos
          voluptate eius est doloremque, nihil delectus blanditiis id rem
          architecto perspiciatis esse dolorem ad! Odio modi deserunt rerum
          suscipit natus quibusdam.</a
        >
      </li>
    </ul>
  </address>
</header>
